* {
    margin: 0px;
    padding: 0px;
    /*Background-image: url("backcheck12.jpg");
    background-repeat: round;*/
    font-family: 'Baloo Chettan 2', cursive;
    background-color: #FFFFFF;
    
    }








    
